body {
  background-color: #d3d6da;
}
.login-card {
  border-radius: 15px;
  box-shadow: 0 80px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.login-cord:hover {
  transform: translateY(-10 px);
}


